
.product-flash-sale-11{
    height: auto;
    margin: 5px;
    color: #ff0000;
    font-size: 20px;
    text-align: center;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.product-spe{
    width: 230px !important;
}